<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <div class="container">
        <form class="form">
            <div>
                <label>Usuário</label>
                <input type="text">
            </div>
            <div>
                <label>Senha</label>
                <input type="text">
            </div>
            <div>
                <button>Entrar</button>
            </div>
        </form>

    </div>

    <%- include('partials/footer.ejs') %> 
</body>
</html>