
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}



body .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../img/img-background.jpg') no-repeat left top;
    background-size: cover;
    position: relative;
}

body .container .form {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    height: 220px;
    padding: 50px;
}

body .container .client {
    height: 350px;
}

body .container .form h2 {
    align-self: center;
    padding-bottom: 20px;
}

body .container .form div {
    display: flex;
    justify-content: space-between;
}

body .container .form label {
    padding-right: 10px;
}

body .container .form input {
    position: relative;
    height: 25px;
    padding: 4px;
    border-radius: 2px;
    border: 0;
}

body .container .form div {
    margin-bottom: 18px;
}

body .container .form button {
    padding: 8px 40px;
    align-self: center;
}